* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Patua One", serif;
}

body {
    width: 100%;
    height: 100vh;
    background: #4c5760;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.boxes {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 1rem;
    width: 450px;
    height: 450px;
    text-align: center;
}

.row {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.btn {
    flex: 1 1;
    font-size: 75px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(16, 255, 247, 0.843);
}

.btn:hover {
    scale: 1.03;
    background: rgb(16, 255, 247);
}

.reset-btn {
    width: 150px;
    height: 60px;
    display: none;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: rgb(45, 45, 45);
}


.start-page {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
    border-radius: 15px;
    width: 45%;
    background-color: rgb(195, 232, 255);
}

.start-page h1 {
    font-size: 45px;
    margin-top: -20px;
    margin-bottom: 40px;
    color: #000;
    -webkit-text-stroke: .5px rgba(100, 250, 243, 0.837);
    text-shadow: 0 0 10px rgb(15, 87, 31);
    font-style: italic;
}

.input-box {
    position: relative;
    width: 400px;
    height: 50px;
    display: block;
    display: flex;
    margin-bottom: 30px;
}

.input-box label {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgb(193, 193, 193);
    padding: 10px;
}

.input-box label i {
    font-size: 22px;
}

.fa-circle-check {
    color: #157900;
}

.player {
    padding: 10px;
    height: 100%;
    font-size: 16px;
    width: 85%;
    margin-bottom: 10px;
    border: none;
    outline: none;
}

.error {
    position: absolute;
    bottom: -20px;
    font-size: 15px;
    padding-left: 65px;
    color: rgb(238, 10, 10);
}

.getStart,.skip-btn{
    width: 200px;
    height: 50px;
    font-size: 18px;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    background: rgb(21, 201, 114);
}

.getStart:hover {
    background: rgb(15, 165, 93);
}

.skip-btn{
    background-color: rgb(77, 77, 239);
}

.skip-btn:hover{
    background-color: rgb(62, 62, 235);
}

.hide {
    display: none;
}


.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    position: fixed;
}



.winner {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 0;
    padding: 20px 40px;
    height: fit-content;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    translate: 0 -50%;
    z-index: 99999;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: all .5s ease-in-out ;
}

.winner h2{
    font-size: 60px;
    color: #000;
    -webkit-text-stroke: 1px rgba(100, 250, 243, 0.837);
    text-shadow: 0 0 10px rgb(15, 87, 31);
    font-style: italic;
    margin-bottom: 20px;
    text-align: center;
    text-wrap: wrap;
}

.newgame{
    height: 60px;
    width: 150px;
    font-size: 20px;
    border-radius: 10px;
    color: #fff;
    background-color: #000;
    outline: none;
    outline: 2px solid #fff;
    transition: all .3s ease-in-out;
}

.newgame:hover{
    outline: 5px solid rgb(37, 255, 59);
}